<!-- your html code here -->
<div class="row">
    <div class="card bg-white p-4 rounded col-8 offset-2">
        <div class="container">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur sed odio nisi culpa eum praesentium sint. Laborum commodi velit, eum eligendi tempora saepe, qui quibusdam illum consectetur quaerat tenetur odit!</p>
        </div>
        <form class="col-8 offset-2 bg-light border border-gray-500 p-4 rounded">
            <div class="row mb-3">
                <div class="col-4">
                    <label for="ExampleInputEmail1" class="form-label float-right"><strong>Your E-mail</strong></label>
                </div>
                <div class="col-8">
                    <input type="mail" class="form-control" id="ExampleInputEmail1" placeholder="Your email">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <label for="exampleFormControlTextarea1" class="form-label float-right"><strong>Your message</strong></label>
                </div>
                <div class="col-8">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>
</div>
