<!-- your html code here -->
<div class="row bg-white">
    <ul class="list-group list-group-flush col-10 offset-1">
        <li class="list-group-item"></li>
        <li class="list-group-item py-5">
            <img src="assets/img/2.jpg" class="rounded-circle float-left">
            <div class="col-auto">
                <h1 class="fw-bold">The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet quidem voluptatibus quas quisquam vitae! Neque, alias nemo impedit libero ad ipsam, ullam enim pariatur quia porro quis illo, possimus eius?</p>
            </div>
        </li>
    </ul>
</div>